.content {
	align-items: flex-start;
}

.articles-container {
	display: flex;
	flex-flow: row wrap;
	/* justify-content: center; */
	align-items: flex-start;
}

.article {
	margin: 1rem;
	max-width: 30rem;
	min-height: 35rem;
	display: flex;
	flex-flow: column;
}

.article h3 {
	font-size: 1.7rem;
	padding: 1rem 1.5rem;
}

.img-container {
	width: 100%;
	max-height: 16.3rem;
	/* background-size: cover; */
	transition: transform 1s;
	/* overflow: hidden; */
}

.img-container:hover {
	transform: scale(1.1);
}

.content-container {
	flex: 1;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.newsfeed-content h2 {
	font-size: 1.9rem;
	padding: 0 1rem;
}

.newsfeed-container {
	display: flex;
	flex-flow: row nowrap;
}

.category-container {
	min-width: 200px;
}

.category-container li {
	margin: 1rem 0;
	transition: color 0.2s;
}
.category-container li:hover {
	color: var(--primary);
	cursor: pointer;
}

.cat-active {
	color: var(--primary);
	font-weight: 700;
}

@media screen and (max-width: 845px) {
	.newsfeed-container {
		flex-flow: row wrap;
	}
}
